body
{
	background-color: #111111;
	color: white;
	font-family: Courier New;
	white-space: nowrap;
}

div::before
{
	font-weight: bold;
}

div.Class::before
{
	content: "Class";
	color: #FF6400;
}

div.Enum::before
{
	content: "Enum";
	color: #FF6400;
}

div.Property::before
{
	content: "Property";
	color: #00FFFF;
	margin-left: 40px;
}

div.Function::before
{
	content: "Function";
	color: #00FF00;
	margin-left: 40px;
}

div.Event::before
{
	content: "Event";
	color: #FFFF00;
	margin-left: 40px;
}

div.Callback::before
{
	content: "Callback";
	color: #FF00FF;
	margin-left: 40px;
}

div.EnumItem::before
{
	content: "EnumItem";
	color: #FF6400;
	margin-left: 40px;
}

span.Tag,
span.Security
{
	font-weight: bold !important;
	font-size: 10px !important;
	font-style: normal !important;
	text-decoration: none !important;
}

span.Tag
{
	background-color: #56562C;
	color: #F3F385 !important;
}

span.Security
{
	background-color: #3F0000;
	color: #FF0000 !important;
}

span.Type,
span.InnerType,
span.ParamDefault
{
	color: #FF6400;
	font-weight: bold;
}

span.InnerType::before
{
	content: '<';
	margin-left: -8px;
}

span.InnerType::after
{
	content: '>';
}

span.ClassName::after,
span.EnumName::after
{
	content: '.';
	margin-right: -10px;
}

span.ClassName.Function::after
{
	content: ':';
}

span.Superclass::before,
span.Value::before
{
	content: ":";
	margin-right: 10px;
}

span.Value::before,
span.ClassName::after,
span.InnerType::after,
span.InnerType::before,
span.Parameter::after,
span.Parameters::after,
span.Parameters::before,
span.Superclass::before,
span.ParamName.Default::after
{
	color: #FFAA50;
}

span.Parameters::before
{
	content: '(';
	margin-left: -10px;
}

span.Parameters::after
{
	content: ')';
}

span.Parameter::after
{
	content: ',';
	margin-left: -8px;
}

span.Parameter:first-child
{
	margin-left: -8px;
}

span.Parameter:last-child::after
{
	content: "";
}

span.ParamName.Default::after
{
	content: " = ";
}

span.ParamDefault.String
{
	color: #00FF00;
}

span.ParamDefault.String::before,
span.ParamDefault.String::after
{
	content: '"';
}

span.Value,
span.ParamDefault.Int,
span.ParamDefault.Int64,
span.ParamDefault.Float,
span.ParamDefault.Double
{
	color: #FF0000;
	font-weight: normal;
}

.deprecated *,
.deprecated ::before,
.deprecated ::after,
.deprecated::before,
.deprecated::after
{
	font-style: italic;
	font-weight: normal !important;
	text-decoration: line-through;
	color: #7F7F7F !important;
}