body {
	background-color: #151515;
	color: white;
	font-family: Consolas;
	white-space: nowrap;
	padding: 20px;
	padding-top: unset;
	padding-bottom: unset;
	margin-top: -20px;
	transform: scale(1.5);
	transform-origin: 0 0;
}

h2 {
	margin-left: -12px;
}

hr {
	margin-left: -30px;
	margin-right: -50px;
	margin-top: 20px;
	background-color: #555;
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    25%{background-position:25% 50%}
    50%{background-position:50% 50%}
    75%{background-position:75% 50%}
    100%{background-position:100% 50%}
}

.rainbow-text {
	background-image: repeating-linear-gradient(-45deg, violet, indigo, blue, green, yellow, orange, red, violet);
	background-size: 50% 50%;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff2f;
	animation: rainbow 3s linear infinite;
}