/* API Dump CSS (Version 1.10) */

body {
	background-color: #151515;
	color: white;
	font-family: Consolas;
	white-space: nowrap;
	padding: 10px;
}

.boolean,
span.TagChange,
span[class^="DescriptorType"],
span[class^="DiffType"] {
	font-weight: bold;
}

.boolean,
.DescriptorType.Enum,
.DescriptorType.Class,
.DescriptorType.EnumItem {
	color: #FF6400;
}

.DescriptorType.Property {
	color: #00FFFF;
}

.DescriptorType.Function {
	color: #00FF00;
}

.DescriptorType.Event {
	color: #F5CD30;
}

.DescriptorType.Callback {
	color: #FF00FF;
}

.DiffType.Added {
	color: #7FFF7F;
}

.DiffType.Changed,
.DiffType.Tags {
	color: #FFFF7F;
}

.DiffType.Removed {
	color: #FF7F7F;
}

.DiffType.Renamed {
	color: #7F7FFF;
}

.DiffType.Moved {
	color: #FF7FFF;
}

.DiffType.Merged,
span.MergeListInto {
	color: #FF7F3F;
}

div.ChangeFrom::before {
	margin-left: 30px;
}

div.ChangeTo::before {
	margin-left: 49px;
}

span.LegacyName {
	color: #7F7FFF;
}

span.WhatChanged {
	font-style: italic;
	font-weight: normal;
}

span.ChangeList::before {
	margin-left: -10px;
}

.table td:first-child {
	text-align: left;
}

span.Tag,
span.Security,
span.ThreadSafety,
span.Serialization {
	font-weight: bold !important;
	font-size: 12px !important;
	font-style: normal !important;
	text-decoration: none !important;
}

span.Tag {
	background-color: #56562C;
	color: #F3F385 !important;
	text-decoration: none !important;
}

span.Security {
	background-color: #3F0000;
	color: #FF0000 !important;
	text-decoration: none !important;
}

span.Security.Darken {
	background-color: #051525;
	color: #6F7F8F !important;
	text-decoration: none !important;
}

span.Serialization {
	background-color: #3F3F6F;
	color: #CF9FFF !important;
}

span.ThreadSafety {
	background-color: #001F3F;
	color: #007FFF !important;
}

span.Type,
span.InnerType,
span.ParamDefault {
	color: #FF6400;
	font-weight: bold;
}

span.Symbol {
	color: #FFAA50;
	font-weight: normal;
	text-decoration: none !important;
}

span.Parameters.Change::before {
	margin-left: 0px;
}

span.String,
span.ParamDefault.String {
	color: #00FF00;
	font-weight: normal;
}

*.Int32,
*.Number,
*.Value {
	color: #FF0000;
	font-weight: normal;
}

div.ChangeList {
	margin-left: 22px;
}

span.ChangeListPrefix {
	display: inline-block;
	text-align: right;
	margin-right: 4px;
	width: 48px;
}

span.ChangeListItem {
	margin-left: 4px;
	margin-right: 4px;
}

.deprecated *,
.deprecated::after,
.deprecated::before,
.deprecated ::after,
.deprecated ::before {
	font-style: italic;
	font-weight: normal !important;
	text-decoration: line-through;
	color: #AFAFAF !important;
}

.child {
	margin-left: 40px;
}